<div *ngIf="pinModel != null" class="pin"
[style.left.px]="pinModel.point.left"
[style.top.px]="pinModel.point.top"
[style.width.px]="pinModel.width"
[style.height.px]="pinModel.height"
[style.borderRadius.px]="pinModel.borderRadius"
[style.background]="pinModel.background"
[style.backgroundSize]="pinModel.width+'px '+pinModel.height+'px'"
(mousedown)="onMouseDown($event)"
(mouseup)="onMouseUp($event)"
(mousemove)="onMouseMove($event)"
(mouseleave)="onMouseLeave($event)"
(click)="onClick($event)"></div>