<div *ngIf="pinModel != null" class="pin"
[style.left.px]="pinModel.point.left"
[style.top.px]="pinModel.point.top"
[style.width.px]="options.pinWidth"
[style.height.px]="options.pinHeight"
[style.borderRadius.px]="options.pinBorderRadius"
[style.background]="options.pinBackground"
[style.backgroundSize]="options.pinWidth+'px '+options.pinHeight+'px'"
[style.visibility]="pinModel.visibility"
(mousedown)="onMouseDown($event)"
(mouseup)="onMouseUp($event)"
(mousemove)="onMouseMove($event)"
(mouseleave)="onMouseLeave($event)"
(click)="onClick($event)"></div>